/* set a blue background to the page */

html {
    background-color: skyblue;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90vw;
    font-size: 2em;
}

header div {
    margin-left: 1rem;
    color: white;
}

main {
    display: grid;
    grid-template-areas: 'about-me picture-tagline' 'more-info more-info';
    grid-template-columns: repeat(2, 1fr);
}


/* bring the elements closer together for the blurb */

h1,
h3 {
    margin: 0;
}


/* to align the h3 text a bit closer to the list */

ol h3 {
    text-align: center;
    margin-right: 3rem;
}


/* translucent layer "on top" of the backgroud color*/

#layer {
    background-color: rgba(248, 247, 216, 0.2);
    position: absolute;
    width: 95vw;
    height: 100vh;
}


/* grid layout to give a general direction to the page */

#layout-container {
    display: grid;
    grid-template-rows: 1fr 18fr 1fr;
    grid-template-columns: auto;
    height: 100%;
}

#navbar {
    width: 90vw;
    font-size: 2em;
}

#picture-tagline {
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture-tagline img {
    margin-left: 5rem;
    height: 300px;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blurb {
    width: clamp(400px, 30vw, 600px);
}

#blurb h1 {
    text-align: center;
}

#blurb h3 {
    text-align: right;
}

#more-info {
    grid-area: more-info;
    display: flex;
    justify-content: center;
}

#more-info h2 {
    text-align: center;
}

#my-story {
    width: 90%;
    text-align: justify;
}

#skills {
    padding-top: 1rem;
    display: grid;
    grid-template-areas: "intro intro" "skills strengths";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#intro {
    grid-area: intro;
    text-align: center;
}

#bottom-bar {
    display: flex;
    justify-content: center;
    align-content: center;
}

.links {
    margin-left: 2rem;
    font-weight: bold;
}